@forward "./tailwind.scss";
@forward "./components/index.scss";

.body-container {
  background-color: #d19c6c;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  padding: 1rem;
}

@font-face {
  font-family: "LazyFox";
  src: url("/fonts/DFVN LazyFox.otf") format("opentype");
}

@font-face {
  font-family: "Purenotes";
  src: url("/fonts/DFVN Purenotes.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LazyFox", sans-serif;
  font-weight: 600;
}

body {
  font-family: "Purenotes", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

body {
  font-size: 1.25rem;
}
